extends ../layout

block content 
    h1 Datos del grupo
        ul 
                li= 'Nombre: '+ grupo.nombre
                    ul
                        each user in users
                            li
                                a(href=`/users/${user.id_usuario}`)= user.nombre +', '+ user.primer_apellido+', '+ user.segundo_apellido+', '+ user.email
                li= 'Eventos:'
                    ul 
                        each evento in eventos
                            li
                                a(href=`/eventos/${evento.id_evento}`)= evento.nombre