extends ../layout

block content 
    h1 Datos del grupo
        ul 
                li= 'Nombre: '+ grupo.nombre
                    ul
                        li
                            a(href='/grupos/'+ grupo.id_grupo + '/users')= "Usuarios"
                li= 'Eventos:'
                    ul 
                        each evento in eventos
                            li
                                a(href=`/eventos/${evento.id_evento}`)= evento.nombre